#store-body {
  background-image: url(Img/scooter.jpg);
  background-size: cover;
}
#offcanvasRight1 {
  width: 80%;
  height: 80%; 
      overflow-y: auto;


}
#offcanvasRight1 {
  width: 80%;
  height: 80%; 
      overflow-y: auto;


}